body {
    margin: 0;
    padding: 0;
    background: #01142F;
    animation: backgroundAnim 3s infinite;
}
.box {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.box .b1, .b2, .b3, .b4 {
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: ro 3s infinite;
}

.box .b1 {
    border-color: #0351C1;
    width: 300px;
    height: 300px;
}

.box .b2 {
    border-color: #7EB3FF;
    width: 260px;
    height: 260px;
    animation-delay: 0.2s;
}
.box .b3 {
    border-color: #48CFAF;
    width: 220px;
    height: 220px;
    animation-delay: 0.3s;
}
.box .b4 {
    border-color: #5BFF62;
    width: 180px;
    height: 180px;
    animation-delay: 0.4s;
}

@keyframes backgroundAnim {
    0% {
        background: #01142F;
    }
    50% {
        background-color: #231F20;
    }
    100% {
        background: #01142F;
    }
}

@keyframes ro {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        background: #01142F;
    }
    50% {
        background-color: #002D6D;
        transform: translate(-50%, -50%) rotate(-180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
        background: #01142F;
    }
}
